<% provide(:title, @user.name) %>
<div class= "row">
  <aside class="span8 offset1 pap_user ">
    <section>



      <div id= "sub_details">

        <h3 class="center">Your Details </h3></br>
        <div class="row">
          <div class="span6">
            <p id = "user_info"><b class="span3">Name</b>  <%= @user.name %></p>
            <p id = "user_info"><b class="span3">Email</b> <%= @user.email %></p>
            <p id = "user_info"><b class="span3">Address</b> <%= @user.address%></p>
            <p id = "user_info"><b class="span3">City</b>  <%= @user.city %></p>
            <p id = "user_info"><b class="span3">Esugam_id</b> <%= @user.esugam_id %></p>
            <p id = "user_info"><b class="span3">Tin</b>  <%= @user.tin %></p>
            <p id = "user_info"><b class="span3">Phone</b> <%= @user.phone %></p>
            <p id = "user_info"><b class="span3">Bank Account Number</b> <%= @user.bank_acc_no %></p>
            <p id = "user_info"><b class="span3">IFSC code</b>  <%= @user.ifscode %></p>
          </div>
          <div class="span1">
            <%= gravatar_for @user%>
          </div>

        </div>

        <br>

        <p> If you want to change any of the details ,or your passwords <%= link_to "Click here", edit_user_path(current_user), class: "btn btn-info" %></p>
        <br>
        <p><b> Please add or edit the commodity categories  and taxes below</b> , enter at least one before proceeding to avoid errors </p>
        <div class="row">
          <div class="span3 offset1"><button class= "help btn btn-primary"> add commodity</button></div>
          <div class="span4"><button class= "taxup btn btn-primary">add tax</button></div>
        </div>
        <br />
        <div class="tryout span3"><%= render 'shared/cat_list'%></div>
        <div class=  "span2" id="taxout"><%= render 'shared/tax_list'%></div>



      </div>
      <div id="catup-form"></div>
      <div id="taxup-form"></div>
    </section>
    <script>

    </script>

  </aside>


</div>
</div>