<div id="error-holder"></div>

<div class="appear">
  <div id ="cust-form">
    <%= render 'shared/customer_formtastic'%>
  </div>
  <div id="flr"><button id = "hide_customer" class="btn btn-info">Hide </button></div>
<br>

</div>

<div id="bill-form">
  <%= simple_form_for @micropost ,:html => {:class => "form-inline"} do |f| %>

      <div class="row" id="carouselSection_invoice">
        <br/>
        <div class="span3"><%= f.input :invoice_number  %></div>
        <div class="span3"><%= f.input :bill_date,as: :date_picker %></div>
        <div class="span4 dropdown">
          <%= f.input :customer,
                      :as => :select,
                      :collection =>Hash[current_user.customers.all.map{ |p| [p.name+ " -- " + p.tin ,p.id] }] ,
                      :include_blank => false
          %>
        </div>
      </div>
      <br/>


      <%= f.simple_fields_for :deliverables do |d| %>
          <%= render 'shared/deliverable_fields', :f => d %>
      <% end %>

      <p><%= link_to_add_fields "Add", f, :deliverables %></p>

      <div class="row" id="carouselSection_tax">
        <br/>
        <%= f.simple_fields_for :infos do |i| %>
            <div class="span11">
              <div class="row">
                <div class="span4"><%= i.input :tax_id, :as => :select,:collection =>Hash[current_user.taxes.all.map{ |t| [t.state + " --- " + t.rate.to_s + "%",t.id]}] , :label => "Tax",:include_blank => false %></div>

                <div class="span3"><%= i.input :sur_name, :label  => "Name Other Charges (if any) ",:input_html => {:id => 'suggested'}%></div>
                <div class="span3"><%= i.input :sur_tax, :label => "Other Charge Rate (if any) ",:input_html => {:title => 'this is a lumpsum charge and is not percentage based'}%></div>
                <br/>
              </div>
            </div>

            <div class="span11">
              <div class="row">
                <div class="span10">
                  <%= i.input :gen_info, :label => "Other Information To Be Printed on The Bill",:input_html => {:rows => 2}%>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <br/>
      <br/>


      <%= f.submit "Continue", :class => "btn btn-primary"  %>

  <% end %>

</div>
