<p>Please enter both name and code for the commodity</p>
<%= semantic_form_for @category, :remote=>true , :html => {:id => 'cc' } do |f| %>
    <%= f.inputs :name => "Commodity"  ,:class =>"form-input" do %>
        <%= f.input :name %>
        <%= f.input :main_code, :label => "Main Commodity Code"%>
        <%= f.input :sub_code, :label => "Sub Commodity Code" %>
    <% end %>
    <%= f.action :submit,:button_html => { :class => "btn btn-small"} %>
<% end %>