<li id="<%= category_el.id %>">

	<span class="user">
	<h5> Commodity Name :<%= category_el.name %></h5>	
	<h5>Main Commodity code :	<%= category_el.main_code %></h5>
	<h5>Sub Commodity code :	<%= category_el.sub_code %></h5>
	<p>
		
	</p>
	<p><%= link_to "edit",edit_category_path(category_el),:remote => true, class: "btn btn-info" %> </p>
	</span>
</li>
