<% if feed_item != nil %>
<li id="<%= feed_item.id %> ">
	
	<% @deliverables = feed_item.deliverables.all %>
	
	<% if @deliverables.first != nil && feed_item.infos.first != nil %> 
	<% @product = Product.find(@deliverables.first.product_id )%>
	<%= link_to gravatar_for(feed_item.user),feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user%>
	</span>
	<span class="content"><h3><%=link_to  @product.name , feed_item  %></h3>
		<h3><%= feed_item.bill_date %></h3>
	</span>
	
	<% if feed_item.unedit != true %>
	<h4><%= feed_item.customer.name %> </h4>
	<% else %>
	<h4> Cash Transaction </h4>
	<% end %>
	<% if feed_item.category != nil %>
	<h4><<%= feed_item.category.name %>/h4>
	<% end %>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at )%> ago.
	</span>
	<% if current_user?(feed_item.user) and feed_item.esugam == nil %>
	<h4> </h4>
	<%else%>
	<h4><%= feed_item.esugam %><% end %></h4>
	<% end %>
</li>
<% end %>	
